* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #F07E4D;
  }
  
  div.container-one {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  span.nav-toggle {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .logo {
    margin: 40px 0 40px 0;
  }
  
  .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
  }
  
  span.circle-1 {
    background-color: #F07E4D;
    width: 40px;
    height: 40px;
  }
  
  ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }
  
  ul li {
    list-style-type: none;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    padding: 5px 50px;
  }
  
  ul li:first-child{
    margin-top: 0;
  }
  
  ul li:hover {
    color: #2C3345;
    opacity: 0.5;
  }
  
  .active{
    display: flex;
  }
  /* responsive */

@media screen and (min-width: 800px) {
    nav {
      height: 100px;
      flex-direction: row;
    }
  
    .logo {
      padding-left: 50px;
      margin: 0;
      width: 20%;
    }
  
    ul {
      display: flex;
      justify-content: flex-end;
      width: 80%;
      flex-direction: row;
    }
  
    ul li {
      display: inline-block;
      margin: 0 70px 0 0;
      text-align: left;
      border-bottom-style: none;
      padding: 0;
    }
  
    span.nav-toggle {
      display: none;
    }
  }
  .container {
    margin-top: 100px;
    background-color: #ffffff;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
  }
  .search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
  }  
  .search-wrapper button {
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
  }
  .search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
  }